<section class="contact">
  <header>
    <h1 class="mb-4">
      <fa-icon [icon]="faComments" [fixedWidth]="true"></fa-icon>
      Contacto
    </h1>
  </header>
  <main>
    <div class="row text-center">
      <div class="col-12">
        <a href="mailto:cristiancajiaos@outlook.com"
           target="_blank"
           ngbTooltip="Correo">
          <div class="contact-panel">
            <fa-icon [icon]="faEnvelope"></fa-icon> cristiancajiaos@outlook.com
          </div>
        </a>
      </div>
      <div class="col-12">
        <a href="https://www.linkedin.com/in/cristiancajiaos/"
           target="_blank"
           ngbTooltip="LinkedIn">
          <div class="contact-panel">
            <fa-icon [icon]="faLinkedin"></fa-icon> Cristian Cajiao Skarnic
          </div>
        </a>
      </div>
      <div class="col-12">
        <a href="https://cristiancajiaos.github.io/"
           target="_blank"
           ngbTooltip="Página web (que incluye link a este portafolio)">
          <div class="contact-panel">
            <fa-icon [icon]="faGlobe"></fa-icon> cristiancajiaos.github.io
          </div>
        </a>
      </div>
    </div>
  </main>
</section>
