<section class="certificates">
  <header>
    <h1 class="mb-4">
      <fa-icon [icon]="faCertificate" [fixedWidth]="true"></fa-icon>
      Certificados
    </h1>
  </header>
  <main>
    <div class="row">
      <div class="col-12">
        <ng-container *ngIf="!loadingCertificates">
          <ng-container *ngIf="certificates.length > 0">
            <a *ngFor="let certificate of certificates"
              [href]="certificate.certificateUrl"
              target="_blank"
              ngbTooltip="Haz click para abrir el link en donde se encuentra la verificación de este certificado"
            >
              <div class="certificate-panel">
                <div class="certificate-title">{{certificate.title}}</div>
                <div class="certificate-place-date">{{certificate.place}}, {{certificate.date}}</div>
                <div class="certificate-link">
                  <fa-icon [icon]="faLink"></fa-icon>
                  Verificable en <strong>{{certificate.certificateUrl}}</strong>
                </div>
              </div>
            </a>
          </ng-container>
          <ng-container *ngIf="certificates.length == 0">
            <p>No se encontraron certificados</p>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="loadingCertificates">
          <app-loading></app-loading>
        </ng-container>
      </div>
    </div>
  </main>
</section>
